@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.cellOuter {
  height: 100%;
  max-width: 480px;
}

.cellContent {
  position: relative;
  min-height: 28px;
  max-height: 4em;
  display: flex;
  overflow: hidden;
}

.preFullHeight {
  margin: 0;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
}