@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.modalHeader {
  background-color: $light;
  border-color: $dark;
  padding: 0 $spacer;
  margin-bottom: $spacer * 0.25;
  display: flex;
  justify-content: space-between;
}

.modalBody::-webkit-scrollbar {
  width: 8px;
}

.modalBody::-webkit-scrollbar-thumb {
  background-color: $dark-bg-subtle;
  border-radius: 4px;
  cursor: pointer;
}

.modalBody::-webkit-scrollbar-thumb:hover {
  background-color: $dark;
}

.modalBody {
  background-color: $body-bg;
  max-height: 75vh;
  word-wrap: break-word;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
}

.line {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;

  /* This is the width of the lineNumber + its margin */
  left: calc($spacer * 2 + 0.5em);
  border-right: 1px solid var(--bs-border-color);
}

.lineNumber {
  flex-shrink: 0;
  width: $spacer * 2;
  margin-right: 0.5em;
  text-align: right;
  color: var(--bs-dark-text-emphasis);
  user-select: none;
}

.code {
  white-space: pre-wrap;
  word-break: break-word;
  tab-size: 4;
  padding-left: 1ch;
}

.tooltipCopyToClipboard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
}

.button {
  margin: 0.5em $spacer * 0.25;
  width: $spacer * 2;
  padding: 0;
  height: 1.9em;
  background-color: $body-tertiary-color;
  border-width: 0;
  border-style: none;

  &:hover {
    background-color: $pink-300;
  }
}

.iconModalHeader {
  padding: 0;
  margin: 0;
}

$show-modal-icon-size: 1.2em;

.buttonShowModal {
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: $gray-100;
  border-width: 0;
  border-style: none;
  height: $show-modal-icon-size;
  width: $show-modal-icon-size;
  border-radius: 0.1em !important;
  margin: calc((28px - $show-modal-icon-size) / 2);

  .iconShowModal {
    height: $show-modal-icon-size;
    width: $show-modal-icon-size;
    padding: 0;
    color: $gray-800;
    transition: color 0.3s ease-in-out;
    vertical-align: unset;
  }

  &:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: $gray-100;

    .iconShowModal {
      color: $pink-300;
    }
  }
}


@include color-mode(dark) {
  .modalHeader {
    background-color: $dark;
    border-color: $light;
  }

  .modalBody {
    background-color: $dark;
  }

  .buttonShowModal {
    background-color: $gray-900;

  .iconShowModal {
    color: $gray-200;
  }


    &:hover {
      .iconShowModal {
        color: $blue-500;
      }
    }
  }
}