@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.cellInner {
  position: relative;
  overflow-y: auto;
  max-width: 50ch;
  max-height: 4em;
}

.scrollable {
  height: 4em;
}

.code {
  color: unset;
}