td.cell {
  padding: 0.05em 0.4em;
}

.cellInner {
  position: relative;
  max-width: 50ch;
  max-height: 4em;
}

.scrollable {
  overflow-y: auto;
  height: 4em;
}

.code {
  color: var(--bs-dark);
}
