@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.settings {
  position: absolute;
  bottom: 0;
  width: inherit;
  cursor: grabbing !important;
} 

.noCursor {
  cursor: unset !important;
}

.settingDescription {
  font-size: 0.8em;
}

.button {
  padding: 0 !important;
  margin: 0.5em $spacer * 0.25;
  width: $spacer * 2;
  height: 1.9em;
  border-width: 0 !important;
  border-style: none !important;
}

.icon {
  padding: 0;
  margin: 0;
}

.iconDrag {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.modalBody {
  height: 75vh;
}

.displayTypeSelect {
  max-width: 13ch;
}