@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


.warehouseItem {
  cursor: pointer;
}

.tooltip [class$="inner"] {
  background-color: $pink-300 !important;
  border: 1px solid $pink-300 !important;
}

.tooltip [class$="arrow"]::before  {
  border-bottom: 5px solid $pink-300 !important;
}

.tooltipLink {
  font-size: 1em;
  color: $white;
  text-decoration: none;
}

.sidebar {
  background-color: $body-secondary-bg;
  width: 250px;
}

@include color-mode(dark) {
  .sidebar {
    background-color: #151b20;
  }
  .tooltip [class$="inner"] {
    background-color: $blue-800 !important;
    border: 1px solid $blue-800 !important;
  }

  .tooltip [class$="arrow"]::before  {
    border-bottom: 5px solid $blue-800 !important;
  }
  .tooltipLink {

  color: $gray-500 !important;
}

}