$hover-transition: all 0.5s ease;

.orderByIcon {
  padding: 0;
}

.iconContainer {
  cursor: pointer;
  position: relative;
  transition: $hover-transition;

  .iconDefault {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: $hover-transition;
  }

  .iconHover {
    opacity: 0;
    transition: $hover-transition;
  }

  &:hover {
    .iconDefault {
      opacity: .5;
    }

    .iconHover {
      opacity: .5;
    }
  }
}