@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.paginatorItem {
    min-width: $spacer * 2;
    text-align: center;
}

.paginatorItemLink {
    color: $pink-400 !important;
}

.paginatorItemLinkActive {
    background-color: $pink-200 !important;
    border-color: $pink-300 !important;
    color: $white !important;
}

@include color-mode(dark) {
    .paginatorItemLink {
        background-color: $blue-900 !important;
        border-color: $blue-800 !important;
        color: $blue-600 !important;
    }

    .paginatorItemLinkActive {
        color: $gray-400 !important;
        background-color: $blue-800 !important;
        border-color: $blue-600 !important;
    }
}