.modalHeader {
  padding: 0 1em;
  background-color: var(--bs-light);
  border-color: var(--bs-dark);
  margin-bottom: 0.25em;
  display: flex;
  justify-content: space-between;
}

.modalBody::-webkit-scrollbar {
  width: 8px;
}

.modalBody::-webkit-scrollbar-thumb {
  background-color: var(--bs-dark-bg-subtle);
  border-radius: 4px;
}

.modalBody::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-dark);
}

.modalBody {
  max-height: 75vh;
  word-wrap: break-word;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  background-color: var(--bs-body-bg);
}

.line {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  /* This is the width of the lineNumber + its margin */
  left: calc(2em + 0.5em);
  border-right: 1px solid var(--bs-border-color);
}

.lineNumber {
  flex-shrink: 0;
  width: 2em;
  margin-right: 0.5em;
  text-align: right;
  color: var(--bs-dark-text-emphasis);
  user-select: none;
}

code.code {
  white-space: pre-wrap;
  word-break: break-word;
  tab-size: 4;
  padding-left: 1ch;
}

.tooltipCopyToClipboard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
}

.spacer {
  flex-grow: 1;
}

.button {
  margin: 0.5em 0.25em;
  width: 2em;
  padding: 0;
  height: 1.9em;
  background-color: var(--bs-tertiary-color);
  border: none;
}

.icon {
  padding: 0;
  margin: 0;
}

.buttonShowModal {
  width: 1.5em;
  padding: 0;
  height: 1.4em;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: unset;
  border: none;
}

.buttonShowModal:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: var(--bs-dark);
}

.iconShowModal {
  padding: 0;
  color: var(--bs-dark);
  margin: 1px 0 0 0;
  transition: color 0.3s ease-in-out;
  vertical-align: unset;
}

.buttonShowModal:hover .iconShowModal {
  color: var(--bs-light);
}
